{% extends 'catalog/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">IG-market</h1>
    <p class="lead">семейный магазин</p>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{titel_2.name|title}}</h4>
                </div>
                <div class="card-body">
                    <h2 class="card-title pricing-card-title">{{titel_2.price}} руб</h2>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{titel_2.description}}</li>

                    </ul>
                    <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="/contact_info/">Купить</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <img src="/media/{{titel_2.image}}" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>

    {% endblock %}